.navbar .navbar-brand img {
    height: 50px;
  }

body {
    background-image: url("bg2.jpg");
    height: 100vh; 
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.view {
    height: 100%;
}

.view > .video-intro > source {
    z-index: -9;
}

video.video-intro{
    top: 0;
    left: 0;
}

.video-content,.video-content2,.video-content3 {
    background-image: url("src/ed1.jpg");
    background-size: cover;
    background-position-x: right;
    background-attachment: fixed;
    padding-top: 80px;
    border-top: 4px solid orange;
}

.video-content2 {
    background-image: url("src/ed2.jpg");
    border-top: 4px solid orangered;
}

.video-content3 {
    background-image: url("src/ed3.jpg");
    border-top: 4px solid yellow;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
    z-index: -8;
}

footer {
    background-color: #3a3f46;
    color: white;
}

footer .row {
    margin-bottom: 0;
}

footer .info{
    text-align: justify; 
    color: #afb0b1;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

footer .logo{
    margin-top: 10px;
}

footer .second-bar .logo a{
    color: white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

footer a {
    color: #d2d1d1;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: white;
}

footer .second-bar {
    text-align: center;
    min-width: 100%;
    min-height: 70px;
    background-color: #33373e;
    text-align: center;
}

footer .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

footer .second-bar a:hover {
    text-decoration: none;
}

footer .social-icons {
    float: right;
}


footer .facebook:hover {
    color: #0077e2;
}

footer .google:hover {
    color: #ef1a1a;
}

footer .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    footer {
        text-align: center;
    }

    footer .info{
        text-align: center;
    }
}

